<h3>新規登録</h3>

<form>
    <p>ユーザー名 *</p>
    <input type="text" placeholder="ユーザー名を入力">

    <p>メールアドレス *</p>
    <input type="email" placeholder="メールアドレスを入力">

    <p>パスワード *</p>
    <input type="password"  placeholder="パスワードを入力" maxlength="8"></label>

    <p>確認用パスワード *</p>
    <input type="password"  placeholder="確認用パスワード入力" maxlength="8" id="confirm_password">
</form>

<p>新しいアカウントを作成</p>
<p>アカウントをお持ちの方はログイン</p>