<div class="image-overlay-container">
  <%= image_tag('home.png', alt: "Travel Shareのホーム画像", class: "background-image") %>
  <h2 class="overlay-text">Travel Shareで<br>まだ体験したことのない<br>旅をしよう</h2>
</div>
