/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.image-overlay-container {
  position: relative;
  text-align: center; /* 中央揃えにする場合 */
}

.background-image {
  width: 100%; /* コンテナに合わせて画像を拡大 */
  height: auto; /* 画像のアスペクト比を保持 */
}

.overlay-text {
  position: absolute;
  top: 45%; 
  left: 40%; 
  transform: translate(-50%, -50%); /* 完全に中央に調整 */
  color: rgb(255, 255, 255); /* テキストの色 */
  font-size: 4em; /* テキストのサイズ */
}
